@import "./Utils/variables.scss";
@import "./Utils/mixin.scss";
@import "./Utils/keyframes.scss";
@import "./Pages/localisation-index.scss";
@import "./Layout/header.scss";
@import "./Base/base.scss";
@import "./Pages/fonction-index.scss";
@import "./Pages/restaurant-index.scss";
@import "./Layout/footer.scss";
@import "./Pages/header-index.scss";
@import "./Composants/image-fond.scss";
@import "./Composants/menu.scss";
@import "./Layout/menu-main.scss";


.main__titre{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    @media (min-width: 768px) and (max-width: 1023px){
        grid-area: h1;
    }
    @media (min-width: 1024px){
        grid-area: h1;
    }

}

.main__titre__coeur{
    position: relative;
    top: 2rem;
    &--hover{
        position: absolute;
        opacity: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient($color-sec, $color-prim);
        background-clip: text;
        color: transparent;
        &:hover{
            animation: coeur-rempli 0.5s ease-in-out both;
        }
    }
}