@import "./Utils/variables.scss";
@import "./Utils/mixin.scss";
@import "./Pages/localisation-index.scss";
@import "./Layout/header.scss";
@import "./Base/base.scss";



.fonction{
    width: 90%;
    margin: auto;
    box-sizing: content-box;
    &--cadre{
        background-color: $color-fond;
        height: 3rem;
        text-align: center;
        border-radius: 25px;
        margin: 20px 0;
        display: flex;
        z-index: 1;
        &:hover{
            background-color: $color-prim-opacity;   /* A modifier car ralenti la page*/
        }
    }

    &__span{
        background-color: $color-prim;
        border-radius: 50%;
        font-size: 0.8rem;
        padding: 0.2rem 0.45rem;
        color: white;
    }
    &__icone{
        margin-left: 1rem;
        margin-right: 1.5rem;
        color: $color-prim;
    }
}