@import "./Utils/variables.scss";
@import "./Utils/mixin.scss";
@import "./Utils/keyframes.scss";
@import "./Pages/localisation-index.scss";
@import "./Layout/header.scss";
@import "./Base/base.scss";
@import "./Pages/fonction-index.scss";
@import "./Pages/restaurant-index.scss";
@import "./Layout/footer.scss";
@import "./Pages/header-index.scss";
@import "./Composants/image-fond.scss";
@import "./Composants/menu.scss";
@import "./Layout/menu-main.scss";




