.footer{
    background-color: $color-footer;
    color: white;
    padding: 0 0 50px 25px;
    & a{
        color: inherit;
        text-decoration: none;
        font-size: 0.9rem;
        line-height: 30px;
    }
    &__titre{
        margin-top: 0;
        padding-top: 30px;
        font-family: $font-logo-titre;
        font-size: 1.2rem;
        font-weight: normal;
    }
    &__ul{
        padding-left: 0;
        margin-bottom: 0;
    }
    &__puce{
        list-style-type: none;
    }
    &__icone{
        padding-right: 0.5rem;
    }
}