.header{
    text-align: center;
    &__logo{
        font-family: $font-logo-titre;
        margin: auto;
        position: relative;
        font-size: 1.8rem;
    }
    &__fleche{
        font-size: 1rem;
        position: absolute;
        top: 1rem;
        left: 2rem;
    }
    & a{
        color: black;
    }
}


