.main{
    background-color: $color-fond;
    border-radius: 25px 25px 0 0;
    margin-top: -3.5rem;
    padding-bottom: 0.5rem;
    &__h1{
        @include h1;
    }
    &__h2{
        @include h2;
        }
    &__bouton{
        display: block;
        margin: 3rem auto;
        @include bouton; 
        padding: 0 50px;
    }
    @media (min-width: 768px) and (max-width: 1023px){
        width: 70%;
        margin: auto;
        margin-top: -3.5rem;
    }
    @media (min-width: 1024px){
        max-width: 1200px;
        margin: auto;
        margin-top: -3.5rem;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-areas:
        "h1 h1 h1"
        "h2_entree h2_plat h2_dessert"
        "entree1 plat1 dessert1"
        "entree2 plat2 dessert2"
        "entree3 plat3 dessert3"
        "entree4 . ."
        ". bouton .";
        &__bouton{
            grid-area: bouton;
        }
    }
}

.main__titre{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    &__coeur{
        position: relative;
        cursor: pointer;
        top: 2rem;
        &--hover{
            position: absolute;
            opacity: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient($color-sec, $color-prim);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            color: transparent;
            &:active{
                animation: coeur-rempli 0.5s ease-in-out both;        
            }            
        }
        &--ghost{
            &:active{
                animation: coeur-vide 0.5s ease-in-out both;
            }
        }
    }
    @media (min-width: 1024px){
        grid-area: h1;
        &__coeur{
            &--hover{
                &:hover{
                    @include animation-coeur;
                }
            }
            &--ghost{
                &:hover{
                    animation: coeur-vide 0.5s ease-in-out both;
                }
            }
        }        
    }
}

