.localisation {
  background-color: #F6F6F6;
  text-align: center;
}
.localisation__form {
  margin-bottom: 30px;
}
.localisation__recherche {
  background-color: #eaeaea;
  padding: 15px 0;
  margin-bottom: 15px;
  box-shadow: inset 0px 4px #dedede;
}
.localisation__recherche__input {
  background-color: inherit;
  border: none;
  margin-left: 15px;
}
.localisation__label {
  padding: 1.5rem 2rem;
}
.localisation__label__titre {
  width: 70%;
  display: inline-block;
  margin: auto;
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: bold;
}
.localisation__label__para {
  padding-top: 1.5rem;
  width: 80%;
  margin: auto;
  font-size: 0.9rem;
}
.localisation__button {
  background: linear-gradient(#FF79DA, #9256dc);
  border: none;
  height: 2.5rem;
  color: white;
  border-radius: 25px;
  padding: 0 15px;
  margin-bottom: 30px;
}

.header {
  text-align: center;
}
.header__logo {
  font-family: "Shrikhand";
  margin: auto;
  position: relative;
}
.header__fleche {
  font-size: 1rem;
  position: absolute;
  top: 1rem;
  left: 2rem;
}
.header a {
  color: black;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.fonction {
  width: 90%;
  margin: auto;
  box-sizing: content-box;
}
.fonction--cadre {
  background-color: #F6F6F6;
  height: 3rem;
  text-align: center;
  border-radius: 25px;
  margin: 20px 0;
  display: flex;
  position: relative;
  z-index: 1;
}
.fonction--cadre:hover::before {
  opacity: 1;
}
.fonction--cadre::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(147, 86, 220, 0.15);
  z-index: -1;
  border-radius: 25px;
}
.fonction__span {
  background-color: #9256dc;
  border-radius: 50%;
  font-size: 0.8rem;
  padding: 0.2rem 0.45rem;
  color: white;
}
.fonction__icone {
  margin-left: 1rem;
  margin-right: 1.5rem;
  color: #848484;
}

.restaurant {
  background-color: #F6F6F6;
  padding: 30px 0;
}
.restaurant a {
  text-decoration: none;
  color: black;
}
.restaurant__titre {
  width: 90%;
  margin: auto;
}

.card {
  width: 90%;
  height: 280px;
  background-color: white;
  margin: 20px auto;
  border-radius: 25px;
}
.card__haut {
  position: relative;
}
.card__haut__nouveau {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.9rem;
  background-color: #99e2d0;
  color: #2c9c81;
  padding: 0.3rem 0.8rem;
  border-radius: 3px;
}
.card__haut__img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 25px 25px 0 0;
}
.card__nom {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-left: 10px;
}
.card__nom__icone {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 1.2rem;
}
.card__nom__titre {
  margin: 0.5rem;
}
.card__nom__para {
  margin-top: 0;
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 0 0 50px 25px;
}
.footer a {
  color: inherit;
  text-decoration: none;
  font-size: 0.9rem;
  line-height: 30px;
}
.footer__titre {
  margin-top: 0;
  padding-top: 30px;
  font-family: "Shrikhand";
  font-size: 1.2rem;
  font-weight: normal;
}
.footer__ul {
  padding-left: 0;
  margin-bottom: 0;
}
.footer__puce {
  list-style-type: none;
}
.footer__icone {
  padding-right: 0.5rem;
}

#entete {
  text-align: center;
}

.logo {
  font-family: "Shrikhand";
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
