@keyframes menu {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  25% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes coeur-rempli {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes coeur-vide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes decale {
  0% {
    transform: translateX(4rem);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes check {
  0% {
    transform: scaleX(0);
    transform-origin: right center;
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    transform-origin: right center;
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(-0.5turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes description {
  0% {
    width: 70%;
  }
  100% {
    width: calc(70% - 4rem);
  }
}
@keyframes loading1 {
  0% {
    transform: translateX(0);
    z-index: 5;
  }
  25% {
    transform: translateX(30%);
    z-index: 5;
  }
  50% {
    transform: translateX(0);
    z-index: 5;
  }
  50.1% {
    transform: translateX(0);
    z-index: -5;
  }
  75% {
    transform: translateX(30%);
    z-index: -5;
  }
  100% {
    transform: translateX(0);
    z-index: -5;
  }
}
@keyframes loading2 {
  0% {
    transform: translateX(0);
    z-index: -5;
  }
  25% {
    transform: translateX(-30%);
    z-index: -5;
  }
  50% {
    transform: translateX(0);
    z-index: -5;
  }
  50.1% {
    transform: translateX(0);
    z-index: 5;
  }
  75% {
    transform: translateX(-30%);
    z-index: 5;
  }
  100% {
    transform: translateX(0);
    z-index: 5;
  }
}
@keyframes disparait {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
.localisation {
  background-color: whitesmoke;
  text-align: center;
}
.localisation__form {
  margin-bottom: 30px;
}
.localisation__recherche {
  background-color: #e9e9e9;
  padding: 15px 0;
  margin-bottom: 15px;
  box-shadow: inset 0px 4px #dddddd;
}
.localisation__recherche__input {
  background-color: inherit;
  border: none;
  margin-left: 15px;
}
.localisation__label {
  padding: 1.5rem 0;
}
.localisation__label__titre {
  width: 70%;
  display: inline-block;
  margin: auto;
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: bold;
}
.localisation__label__para {
  padding-top: 1.5rem;
  display: inline-block;
  width: 80%;
  margin: auto;
  font-size: 0.9rem;
}
.localisation__button {
  background: linear-gradient(#FF79DA, #9256dc);
  border: none;
  height: 2.5rem;
  color: white;
  border-radius: 25px;
  padding: 0 20px;
  cursor: pointer;
  transform: scale(1);
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 30px;
}
.localisation__button:active {
  transform: scale(1.1);
  opacity: 0.8;
  box-shadow: -2px -2px 2px 1px #e9e9e9, 2px -2px 2px 1px #e9e9e9, 2px 2px 2px 1px #e9e9e9, -2px 2px 2px 1px #e9e9e9;
}
@media (min-width: 1024px) {
  .localisation__button:hover {
    transform: scale(1.1);
    opacity: 0.8;
    box-shadow: -2px -2px 2px 1px #e9e9e9, 2px -2px 2px 1px #e9e9e9, 2px 2px 2px 1px #e9e9e9, -2px 2px 2px 1px #e9e9e9;
  }
}

.header {
  text-align: center;
}
.header__logo {
  font-family: "Shrikhand";
  margin: auto;
  position: relative;
  font-size: 1.8rem;
}
.header__fleche {
  font-size: 1rem;
  position: absolute;
  top: 1rem;
  left: 2rem;
}
.header a {
  color: black;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.fonction {
  width: 90%;
  margin: auto;
  box-sizing: content-box;
}
.fonction--cadre {
  background-color: whitesmoke;
  box-shadow: -2px -2px 2px 0px #e9e9e9, 2px -2px 2px 0px #e9e9e9, 2px 2px 2px 0px #e9e9e9, -2px 2px 2px 0px #e9e9e9;
  height: 3rem;
  text-align: center;
  border-radius: 25px;
  margin: 20px 0;
  padding-left: 20px;
  display: flex;
  position: relative;
  z-index: 1;
}
.fonction--cadre:active .fonction__icone {
  color: #9256dc;
}
.fonction--cadre:active::before {
  opacity: 1;
  box-shadow: -2px -2px 2px 1px #e9e9e9, 2px -2px 2px 1px #e9e9e9, 2px 2px 2px 1px #e9e9e9, -2px 2px 2px 1px #e9e9e9;
}
.fonction--cadre::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(147, 86, 220, 0.15);
  z-index: -1;
  border-radius: 25px;
}
.fonction__span {
  background-color: #9256dc;
  border-radius: 50%;
  font-size: 0.8rem;
  position: absolute;
  left: -8px;
  padding: 0.2rem 0.45rem;
  color: white;
}
.fonction__icone {
  margin-left: 1rem;
  margin-right: 1.5rem;
  color: #838383;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .fonction {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .fonction {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .fonction h2 {
    width: 100%;
  }
  .fonction--cadre {
    width: 30%;
  }
  .fonction--cadre:hover .fonction__icone {
    color: #9256dc;
  }
  .fonction--cadre:hover::before {
    opacity: 1;
    box-shadow: -2px -2px 2px 1px #e9e9e9, 2px -2px 2px 1px #e9e9e9, 2px 2px 2px 1px #e9e9e9, -2px 2px 2px 1px #e9e9e9;
  }
}

.restaurant {
  background-color: whitesmoke;
  padding: 30px 0;
}
.restaurant a {
  text-decoration: none;
  color: black;
}
.restaurant__titre {
  width: 90%;
  margin: auto;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .restaurant {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1024px) {
  .restaurant {
    display: flex;
    flex-wrap: wrap;
  }
}

.card {
  width: 90%;
  height: 280px;
  background-color: white;
  margin: 20px auto;
  border-radius: 25px;
}
.card__haut {
  position: relative;
}
.card__haut__nouveau {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.9rem;
  background-color: #99e2d0;
  color: #2c9c81;
  padding: 0.3rem 0.8rem;
  border-radius: 3px;
}
.card__haut__img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 25px 25px 0 0;
}
.card__nom {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-left: 10px;
}
.card__nom__coeur {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 1.2rem;
}
.card__nom__coeur--hover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  color: transparent;
  background: linear-gradient(#FF79DA, #9256dc);
  -webkit-background-clip: text;
  -moz-background-clip: text;
}
.card__nom__coeur--hover:active {
  animation: coeur-rempli 0.5s ease-in-out both;
}
.card__nom__coeur--ghost:active {
  animation: coeur-vide 0.5s ease-in-out both;
}
.card__nom__titre {
  margin: 0.5rem;
}
.card__nom__para {
  margin-top: 0;
  margin-left: 0.5rem;
  font-size: 0.9rem;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .card {
    width: 45%;
  }
}
@media (min-width: 1024px) {
  .card {
    width: 22%;
  }
  .card__nom__coeur--hover:hover {
    animation: coeur-rempli 0.5s ease-in-out both;
  }
  .card__nom__coeur--ghost:hover {
    animation: coeur-vide 0.5s ease-in-out both;
  }
}

.footer {
  background-color: #353535;
  color: white;
  padding: 0 0 50px 25px;
}
.footer a {
  color: inherit;
  text-decoration: none;
  font-size: 0.9rem;
  line-height: 30px;
}
.footer__titre {
  margin-top: 0;
  padding-top: 30px;
  font-family: "Shrikhand";
  font-size: 1.2rem;
  font-weight: normal;
}
.footer__ul {
  padding-left: 0;
  margin-bottom: 0;
}
.footer__puce {
  list-style-type: none;
}
.footer__icone {
  padding-right: 0.5rem;
}

#entete {
  text-align: center;
}

.logo {
  font-family: "Shrikhand";
  margin: auto;
}

.fond {
  position: relative;
  z-index: -1;
}
.fond__img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}
@media (min-width: 1024px) {
  .fond__img {
    height: 350px;
  }
}

.entree {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  background-color: #ffffff;
  border-radius: 15px;
  padding-left: 0.5rem;
  margin-bottom: 20px;
  box-shadow: -2px -2px 2px 0px #e9e9e9, 2px -2px 2px 0px #e9e9e9, 2px 2px 2px 0px #e9e9e9, -2px 2px 2px 0px #e9e9e9;
  font-family: "Roboto";
  animation: menu 0.5s ease-in-out backwards;
}
.entree__description {
  display: flex;
  width: 65%;
  flex-direction: column;
}
.entree__description__h2 {
  font-size: 1rem;
  width: 100%;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entree__description__note {
  margin-top: 0;
  width: 100%;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entree__prix {
  width: 30%;
  text-align: right;
  padding-top: 2.2rem;
  padding-right: 0.5rem;
  font-weight: bold;
  font-size: 0.9rem;
  transform: translateX(4rem);
}
.entree__check {
  height: 100%;
  padding: 1.5rem 1.5rem;
  background-color: #99e2d0;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 0 15px 15px 0;
  z-index: -5;
  opacity: 0;
}
.entree--1 {
  animation-delay: 0.125s;
}
.entree--2 {
  animation-delay: 0.25s;
}
.entree--3 {
  animation-delay: 0.375s;
}
.entree--4 {
  animation-delay: 0.5s;
}
.entree:active > .entree__prix {
  animation: decale 0.5s ease-in-out both;
  z-index: 5;
}
.entree:active > .entree__check {
  animation: check 0.5s ease-in-out both;
  z-index: 5;
}
.entree:active > .entree__check > .entree__circle {
  animation: rotate 0.8s;
}
.entree:active > .entree__description {
  animation: description 0.5s ease-in-out both;
}
@media (min-width: 1024px) {
  .entree--1 {
    grid-area: entree1;
  }
  .entree--2 {
    grid-area: entree2;
  }
  .entree--3 {
    grid-area: entree3;
  }
  .entree--4 {
    grid-area: entree4;
  }
  .entree:hover > .entree__prix {
    animation: decale 0.5s ease-in-out both;
    z-index: 5;
  }
  .entree:hover > .entree__check {
    animation: check 0.5s ease-in-out both;
    z-index: 5;
  }
  .entree:hover > .entree__check > .entree__circle {
    animation: rotate 0.8s;
  }
  .entree:hover > .entree__description {
    animation: description 0.5s ease-in-out both;
  }
}

.plat {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  background-color: #ffffff;
  border-radius: 15px;
  padding-left: 0.5rem;
  margin-bottom: 20px;
  box-shadow: -2px -2px 2px 0px #e9e9e9, 2px -2px 2px 0px #e9e9e9, 2px 2px 2px 0px #e9e9e9, -2px 2px 2px 0px #e9e9e9;
  font-family: "Roboto";
  animation: menu 0.5s ease-in-out backwards;
}
.plat__description {
  display: flex;
  width: 65%;
  flex-direction: column;
}
.plat__description__h2 {
  font-size: 1rem;
  width: 100%;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plat__description__note {
  margin-top: 0;
  width: 100%;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plat__prix {
  width: 30%;
  text-align: right;
  padding-top: 2.2rem;
  padding-right: 0.5rem;
  font-weight: bold;
  font-size: 0.9rem;
  transform: translateX(4rem);
}
.plat__check {
  height: 100%;
  padding: 1.5rem 1.5rem;
  background-color: #99e2d0;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 0 15px 15px 0;
  z-index: -5;
  opacity: 0;
}
.plat--1 {
  animation-delay: 0.125s;
}
.plat--2 {
  animation-delay: 0.25s;
}
.plat--3 {
  animation-delay: 0.375s;
}
.plat--4 {
  animation-delay: 0.5s;
}
.plat:active > .plat__prix {
  animation: decale 0.5s ease-in-out both;
  z-index: 5;
}
.plat:active > .plat__check {
  animation: check 0.5s ease-in-out both;
  z-index: 5;
}
.plat:active > .plat__check > .plat__circle {
  animation: rotate 0.8s;
}
.plat:active > .plat__description {
  animation: description 0.5s ease-in-out both;
}
@media (min-width: 1024px) {
  .plat--1 {
    grid-area: plat1;
  }
  .plat--2 {
    grid-area: plat2;
  }
  .plat--3 {
    grid-area: plat3;
  }
  .plat:hover > .plat__prix {
    animation: decale 0.5s ease-in-out both;
    z-index: 5;
  }
  .plat:hover > .plat__check {
    animation: check 0.5s ease-in-out both;
    z-index: 5;
  }
  .plat:hover > .plat__check > .plat__circle {
    animation: rotate 0.8s;
  }
  .plat:hover > .plat__description {
    animation: description 0.5s ease-in-out both;
  }
}

.dessert {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  background-color: #ffffff;
  border-radius: 15px;
  padding-left: 0.5rem;
  margin-bottom: 20px;
  box-shadow: -2px -2px 2px 0px #e9e9e9, 2px -2px 2px 0px #e9e9e9, 2px 2px 2px 0px #e9e9e9, -2px 2px 2px 0px #e9e9e9;
  font-family: "Roboto";
  animation: menu 0.5s ease-in-out backwards;
}
.dessert__description {
  display: flex;
  width: 65%;
  flex-direction: column;
}
.dessert__description__h2 {
  font-size: 1rem;
  width: 100%;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dessert__description__note {
  margin-top: 0;
  width: 100%;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dessert__prix {
  width: 30%;
  text-align: right;
  padding-top: 2.2rem;
  padding-right: 0.5rem;
  font-weight: bold;
  font-size: 0.9rem;
  transform: translateX(4rem);
}
.dessert__check {
  height: 100%;
  padding: 1.5rem 1.5rem;
  background-color: #99e2d0;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 0 15px 15px 0;
  z-index: -5;
  opacity: 0;
}
.dessert--1 {
  animation-delay: 0.125s;
}
.dessert--2 {
  animation-delay: 0.25s;
}
.dessert--3 {
  animation-delay: 0.375s;
}
.dessert--4 {
  animation-delay: 0.5s;
}
.dessert:active > .dessert__prix {
  animation: decale 0.4s ease-in-out both;
  z-index: 5;
}
.dessert:active > .dessert__check {
  animation: check 0.5s ease-in-out both;
  z-index: 5;
}
.dessert:active > .dessert__check > .dessert__circle {
  animation: rotate 0.8s;
}
.dessert:active > .dessert__description {
  animation: description 0.5s ease-in-out both;
}
@media (min-width: 1024px) {
  .dessert--1 {
    grid-area: dessert1;
  }
  .dessert--2 {
    grid-area: dessert2;
  }
  .dessert--3 {
    grid-area: dessert3;
  }
  .dessert:hover > .dessert__prix {
    animation: decale 0.4s ease-in-out both;
    z-index: 5;
  }
  .dessert:hover > .dessert__check {
    animation: check 0.5s ease-in-out both;
    z-index: 5;
  }
  .dessert:hover > .dessert__check > .dessert__circle {
    animation: rotate 0.8s;
  }
  .dessert:hover > .dessert__description {
    animation: description 0.5s ease-in-out both;
  }
}

.main {
  background-color: whitesmoke;
  border-radius: 25px 25px 0 0;
  margin-top: -3.5rem;
  padding-bottom: 0.5rem;
}
.main__h1 {
  font-family: "Shrikhand";
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-top: 1.5rem;
}
.main__h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1rem;
  width: 90%;
  margin: 20px auto;
}
.main__h2::after {
  content: "";
  display: block;
  width: 2.5rem;
  height: 2px;
  border-bottom: 2px solid #99e2d0;
  padding-top: 1px;
}
.main__bouton {
  display: block;
  margin: 3rem auto;
  background: linear-gradient(#FF79DA, #9256dc);
  border: none;
  height: 2.5rem;
  color: white;
  border-radius: 25px;
  padding: 0 20px;
  cursor: pointer;
  transform: scale(1);
  transition: 0.3s;
  padding: 0 50px;
}
.main__bouton:active {
  transform: scale(1.1);
  opacity: 0.8;
  box-shadow: -2px -2px 2px 1px #e9e9e9, 2px -2px 2px 1px #e9e9e9, 2px 2px 2px 1px #e9e9e9, -2px 2px 2px 1px #e9e9e9;
}
@media (min-width: 1024px) {
  .main__bouton:hover {
    transform: scale(1.1);
    opacity: 0.8;
    box-shadow: -2px -2px 2px 1px #e9e9e9, 2px -2px 2px 1px #e9e9e9, 2px 2px 2px 1px #e9e9e9, -2px 2px 2px 1px #e9e9e9;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main {
    width: 70%;
    margin: auto;
    margin-top: -3.5rem;
  }
}
@media (min-width: 1024px) {
  .main {
    max-width: 1200px;
    margin: auto;
    margin-top: -3.5rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: "h1 h1 h1" "h2_entree h2_plat h2_dessert" "entree1 plat1 dessert1" "entree2 plat2 dessert2" "entree3 plat3 dessert3" "entree4 . ." ". bouton .";
  }
  .main__bouton {
    grid-area: bouton;
  }
}

.main__titre {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: auto;
}
.main__titre__coeur {
  position: relative;
  cursor: pointer;
  top: 2rem;
}
.main__titre__coeur--hover {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#FF79DA, #9256dc);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}
.main__titre__coeur--hover:active {
  animation: coeur-rempli 0.5s ease-in-out both;
}
.main__titre__coeur--ghost:active {
  animation: coeur-vide 0.5s ease-in-out both;
}
@media (min-width: 1024px) {
  .main__titre {
    grid-area: h1;
  }
  .main__titre__coeur--hover:hover {
    animation: coeur-rempli 0.5s ease-in-out both;
  }
  .main__titre__coeur--ghost:hover {
    animation: coeur-vide 0.5s ease-in-out both;
  }
}

.load {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(131, 131, 131, 0.95);
  cursor: progress;
  animation: disparait 1.5s both 2;
}
.load__circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: relative;
  top: 50%;
}
.load__circle--1 {
  background: linear-gradient(to bottom right, #9256dc, #FF79DA);
  transform: translate(0);
  animation: loading1 1.5s ease-in-out 2;
}
.load__circle--2 {
  background: linear-gradient(#99e2d0, #446d63);
  color: #fff;
  text-align: center;
  text-shadow: #353535 1px 1px 1px;
  font-size: 0.5rem;
  line-height: 1.8rem;
}
.load__circle--3 {
  background: linear-gradient(to right, #FF79DA, #9256dc);
  transform: translate(0);
  animation: loading2 1.5s ease-in-out 2;
}

/*# sourceMappingURL=style.css.map */
