.fonction{
    width: 90%;
    margin: auto;
    box-sizing: content-box;
    &--cadre{
        background-color: $color-fond;
        @include shadow-box;
        height: 3rem;
        text-align: center;
        border-radius: 25px;
        margin: 20px 0;
        padding-left: 20px;
        display: flex;
        position: relative;
        z-index: 1;
        &:hover{
            & .fonction__icone{
                color: $color-prim;
            }
            &::before{
                opacity: 1;
                @include shadow-box-hover;
            }
        }
        &::before{
            @include before;
            background-color: $color-prim-opacity;
            z-index: -1;
            border-radius: 25px;
        }
    }
    &__span{
        background-color: $color-prim;
        border-radius: 50%;
        font-size: 0.8rem;
        position: absolute;
        left: -8px;
        padding: 0.2rem 0.45rem;
        color: white;
    }
    &__icone{
        margin-left: 1rem;
        margin-right: 1.5rem;
        color: darken($color-fond-dark, 40%);
    }
    @media (min-width: 768px)and (max-width: 1023px){
        width: 80%;
    }
    @media (min-width: 1024px){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        & h2{
            width: 100%;
        }
        &--cadre{
            width: 30%;
        }
    }

}



