.fonction{
    width: 90%;
    margin: auto;
    box-sizing: content-box;
    &--cadre{
        background-color: $color-fond;
        height: 3rem;
        text-align: center;
        border-radius: 25px;
        margin: 20px 0;
        display: flex;
        position: relative;
        z-index: 1;
        &:hover{
            &::before{
                opacity: 1;
            }
        }
        &::before{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            background-color: $color-prim-opacity;
            z-index: -1;
            border-radius: 25px;
        }
    }
    &__span{
        background-color: $color-prim;
        border-radius: 50%;
        font-size: 0.8rem;
        padding: 0.2rem 0.45rem;
        color: white;
    }
    &__icone{
        margin-left: 1rem;
        margin-right: 1.5rem;
        color: darken($color-fond-dark, 40%);
    }
}