.load{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(131, 131, 131, 0.95);
    cursor: progress;
    animation: disparait 1.5s both 2;
    &__circle{
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%;
        position: relative;
        top: 50%;   
        &--1{
            background:linear-gradient(to bottom right, #9256dc, #FF79DA);
            transform: translate(0);
            animation: loading1 1.5s ease-in-out 2;
        }
        &--2{
            background: linear-gradient(#99e2d0, #446d63);
            color: #fff;;
            text-align: center;
            text-shadow: $color-footer 1px 1px 1px;
            font-size: 0.5rem; 
            line-height: 1.8rem;
        }
        &--3{
            background:linear-gradient(to right, #FF79DA, #9256dc);
            transform: translate(0);
            animation: loading2 1.5s ease-in-out 2;
        }
    }
}
