.localisation{
    background-color: $color-fond;
    text-align: center;
    &__form{
        margin-bottom: 30px;
    }
    &__recherche{
        background-color: $color-fond-dark;
        padding: 15px 0;
        margin-bottom: 15px;
        box-shadow: inset 0px 4px darken($color-fond-dark, 5%);
        &__input{
            background-color: inherit;
            border: none;
            margin-left: 15px;
        }
    }
    &__label{
        padding: 1.5rem 0;
        &__titre{
            width: 70%;
            display: inline-block;
            margin: auto;
            margin-bottom: 20px;
            font-size: 1.4rem;
            font-weight: bold;
        }
        &__para{
            padding-top: 1.5rem;
            display: inline-block;
            width: 80%;
            margin: auto;
            font-size: 0.9rem;
        }
        
    }
    &__button{
        @include bouton;
        cursor: pointer;
        margin-bottom: 30px;
    }

}

