.restaurant{
    background-color: $color-fond;
    padding: 30px 0;
    & a{
        text-decoration: none;
        color: black;
    }
    &__titre{
        width: 90%;
        margin: auto;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    @media (min-width: 1024px){
        display: flex;
        flex-wrap: wrap;
    }
}

.card{
    width: 90%;
    height: 280px;
    background-color: white;
    margin: 20px auto ;
    border-radius: 25px;
    &__haut{
        position: relative;
        &__nouveau{
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            font-size: 0.9rem;
            background-color: $color-nouveau;
            color: $color-nouveau-dark;
            padding: 0.3rem 0.8rem;
            border-radius: 3px;
        }
        &__img{
            object-fit: cover;
            width: 100%;
            height: 200px;
            border-radius: 25px 25px 0 0;
        }
    }
    &__nom{
        display: flex;
        position: relative;
        flex-direction: column;
        padding-left: 10px;
        &__coeur{
            position: absolute;
            top: 2rem;
            right: 3rem;
            font-size: 1.2rem;
            &--hover{
                position: absolute;
                top: 0;
                bottom: 0;  
                right: 0;
                left: 0;
                opacity: 0;
                color: transparent;
                background: linear-gradient($color-sec, $color-prim);
                -webkit-background-clip: text;
                        background-clip: text;
                &:active{
                    @include animation-coeur;
                }
            }
            &--ghost{
                &:active{
                    animation: coeur-vide 0.5s ease-in-out both;
                }
            }
        }
        &__titre{
            margin: 0.5rem;
        }
        &__para{
            margin-top: 0;
            margin-left: 0.5rem;
            font-size: 0.9rem;
        }
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        width: 45%;
    }
    @media (min-width: 1024px){
        width: 22%;
        &__nom{
            &__coeur{
                &--hover{
                    &:hover{
                        @include animation-coeur;
                    }
                }
                &--ghost{
                    &:hover{
                        animation: coeur-vide 0.5s ease-in-out both;
                    }
                }
            }
        }
    }
}