@keyframes menu {
    0%{
        transform: translateY(1rem);
        opacity: 0;
    }
    25%{
        opacity: 0.1;
    }
    40%{
        opacity: 0.5;
    }
    80%{
        opacity: 1;
    }
    100%{
        transform: translateY(0rem);
    }
}


@keyframes coeur-rempli{
    0%{
        transform: translate(-1rem -1rem);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes coeur-vide{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}