@mixin bouton {
    background: linear-gradient($color-sec, $color-prim);
    border: none;
    height: 2.5rem;
    color: white;
    border-radius: 25px;
    padding: 0 20px;
    cursor: pointer;
    transform: scale(1);
    transition: 0.3s;
    &:hover{
        transform: scale(1.1);
        opacity: 0.8;
        @include shadow-box-hover;
    }
}

@mixin h1{
    font-family: $font-logo-titre;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 1.5rem;
}

@mixin h2{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1rem;
    width: 90%;
    margin: 20px auto;
    &::after{
        content: "";
        display: block;
        width: 2.5rem;
        height: 2px;
        border-bottom: 2px solid$color-nouveau;
        padding-top: 1px;
    }
}

@mixin plat{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    background-color: #ffffff;
    border-radius: 15px;
    padding-left: 0.5rem; 
    margin-bottom: 20px;
    @include shadow-box; 
    font-family: $font-text;
    &__description{
        display: flex;
        width: 65%;
        flex-direction: column;
        &__h2{
            font-size: 1rem;
            width: 100%;
            margin-bottom: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;        
            }
        &__note{
            margin-top: 0;
            width: 100%;
            font-size: 0.8rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__prix{
        width: 30%;
        text-align: right;
        padding-top: 2.2rem;
        padding-right: 0.5rem;
        font-weight: bold;
        font-size: 0.9rem;
        transform: translateX(4rem);
    }
    &__check{
        height: 100%;
        padding: 1.5rem 1.5rem;
        background-color: $color-nouveau;
        font-size: 1.2rem;
        color: #fff;
        border-radius: 0 15px 15px 0;
        z-index: -5;
    }
}

@mixin before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}

@mixin shadow-box{
    box-shadow: -2px -2px 2px 0px $color-fond-dark, 
                2px -2px 2px 0px $color-fond-dark, 
                2px 2px 2px 0px $color-fond-dark, 
                -2px 2px 2px 0px $color-fond-dark;
}

@mixin shadow-box-hover{
    box-shadow: -2px -2px 2px 1px $color-fond-dark, 
                2px -2px 2px 1px $color-fond-dark, 
                2px 2px 2px 1px $color-fond-dark, 
                -2px 2px 2px 1px $color-fond-dark;
}

@mixin animation-menu{
    animation: menu  $duree-anim-menu ease-in-out backwards;
    @for $i from 1 through $num-plat {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
        }
    }
}

@mixin animation-coeur{
    animation: coeur-rempli 0.5s ease-in-out both;
}