@mixin bouton {
    background: linear-gradient($color-sec, $color-prim);
    border: none;
    height: 2.5rem;
    color: white;
    border-radius: 25px;
    padding: 0 20px;
}

@mixin h1{
    font-family: $font-logo-titre;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 1.5rem;
}

@mixin h2{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1rem;
    width: 90%;
    margin: 20px auto;
    &::after{
        content: "";
        display: block;
        width: 2.5rem;
        height: 2px;
        border-bottom: 2px solid$color-nouveau;
        padding-top: 1px;
    }
}

@mixin plat{
    width: 90%;
    margin: auto;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 0.5rem;
    margin-bottom: 20px;
    
    &__h2{
        font-size: 1rem;
        margin-bottom: 5px;
    }
    &__description{
        display: flex;
        justify-content: space-between;
        &__note{
            font-size: 0.8rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &__prix{
            font-weight: bold;
            text-align: right;
            width: 20%;
        }
    }
}

@mixin before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}